{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block nav %}
    Navigation
{% endblock %}

{% block body %}
    <h1>All Pages</h1>
    <ul id="list-container">
 
        {% if entries %}
            {% for entry in entries %}
                <li><a href="{% url 'encyclopedia:entry' entry %}">{{ entry }}</a></li>
            {% endfor %}
        {% else %}
            {% if search_mode %}
                <li>No match item</li>
            {% else %}
                <li>No Entry</li>        
            {% endif %}
        {% endif %}

    </ul>

{% endblock %}